<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yohanes.siantarsmartcity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.camera"/>

    <permission
        android:name="com.yohanes.siantarsmartcity.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.yohanes.siantarsmartcity.permission.MAPS_RECEIVE"/>

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/siscylogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.AddPengaduan"
            android:label="@string/title_activity_add_pengaduan"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.SelectSkpdActivity"
            android:label="@string/title_activity_select_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAP_zzjL91jDJWO0ElalHfIwn-tDb-TFuE"/>

        <activity
            android:name=".activity.DetailPengaduanUser"
            android:label="@string/title_activity_detail_pengaduan_user"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.TindakLanjutActivity"
            android:label="@string/title_activity_tindak_lanjut"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.DetailPengaduanSKPD"
            android:label="@string/title_activity_detail_pengaduan_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.DeatailPengaduanOnProgress"
            android:label="@string/title_activity_deatail_pengaduan_on_progress"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ResponPengaduan"
            android:label="@string/title_activity_respon_pengaduan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.TrackPengaduan"
            android:label="@string/title_activity_track_pengaduan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ClosePengaduan"
            android:label="@string/title_activity_close_pengaduan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ActivityProsesPengaduan"
            android:label="@string/title_activity_activity_proses_pengaduan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GetStarted"
            android:label="@string/title_activity_get_started"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.PengaduanSaya"
            android:label="@string/title_activity_pengaduan_saya"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.PengaduanSKPD"
            android:label="@string/title_activity_pengaduan_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SKPD"
            android:label="@string/title_activity_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.DeskripsiSKPD"
            android:label="@string/title_activity_deskripsi_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.TentangSiantar"
            android:label="@string/title_activity_tentang_siantar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.PilihSkpd"
            android:label="@string/title_activity_pilih_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.PilihDeskripsiSkpd"
            android:label="@string/title_activity_pilih_deskripsi_skpd"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SkpdMain"
            android:label="@string/title_activity_skpd_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>